:root {
  --font-color: #565656;
  --light-font-color: #ededed;
  --background-color: #d7cec7;
  --secondary-color: #c09f80;
  --tertiary-color: #76323f;
  --dark-tertiary-color: #5d2630;
}

html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding-bottom: 2rem;
  color: var(--font-color);
  background-color: var(--background-color);
}

h1, h2 {
  margin: 0;
}

h1 {
  background-color: var(--light-font-color);
  border-bottom: 10px solid var(--secondary-color);
  border-top: 10px solid var(--secondary-color);
  color: var(--font-color);
  padding: 2rem 4rem;
}

main {
  margin-top: 1.5rem;
  padding: 0 4rem;
}

input, button {
  font-size: 1rem;
}

input {
  padding: 0.25rem;
}

button {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: var(--tertiary-color);
  color: var(--light-font-color);
  border-radius: 0.2rem;
}

button:hover {
  background-color: var(--dark-tertiary-color);
}

.new-book-form {
  padding: 1rem;
  border: 10px solid var(--secondary-color);
  background-color: var(--light-font-color);
  box-shadow: 0 0 5px var(--font-color);
  border-radius: 0.2rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.field {
  display: grid;
  grid-template-columns: max-content 1fr;
  min-width: 28rem;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.2rem;
}

input[type="text"] {
  flex: 1 1 0;
}

input[type="number"] {
  max-width: 5rem;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.invalid {
  border: solid 1px red;
}

.error {
  font-size: 0.85rem;
  grid-column: 2 / span 1;
  color: red;
}

.submit-container {
  min-width: 28rem;
  display: flex;
  justify-content: flex-end;
}

.submit {
  min-width: 8rem;
}

.books {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.book {
  padding: 1rem;
  border: 10px solid var(--secondary-color);
  background-color: var(--light-font-color);
  box-shadow: 0 0 5px var(--font-color);
  border-radius: 0.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.read {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.read-text.marked-as-read {
  color: var(--font-color);
}

.read-text:not(.marked-as-read) {
  color: var(--tertiary-color);
}

.read button {
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
}

.hidden {
  display: none;
}
